html {
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    font-family: safety;
    font-weight: lighter;
}

@font-face {
    font-family: Safety;
    src: url(safety.oft);
}

@font-face {
    font-family: Safety;
    src: url(safety-light.oft);
    font-weight: lighter;
}


header {
    background-color: #28292C;
    height: 60px;
}

header .logo {
    height: 30px;
    width: 180px;
    position: relative;
    top: 1em;
    left: 1rem;
}


header .knapper {
    position: relative;
    text-align: right;
    min-width: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 10px;
    color: black;
    top: -2rem
}

.navigation_linje {
    background-color: #373D46;
    height: 50px;
    width: 100%;



}

.navigation_linje p {
    position: absolute;
    left: 1em;
    color: #FFFFFF;
    line-height: 1.4;

}

#splash {
    width: 100%;
    height: 60vh;
    background-color: black;
}

#splash img {
    height: 60vh;
}

#splash p {
    color: white;
    position: relative;
    /*
    top: -4rem;
    left: 1rem;
*/
    max-width: 400px;
}

#splash .boks {
    padding: 0.1rem 1rem 1rem 1rem;
    position: relative;
    top: -6rem;
    left: 1rem;
    background: black;
    width: 70vw;
    height: 10vw;
    opacity: 0.5
}

/** SPLASH TEKST ANIMATION **/

.swipe {
    animation-name: splash_kf;
    animation-duration: 2s;
}

@keyframes splash_kf {
    from {
        left: -100rem;
    }

    to {
        left: 0.5rem;
    }
}


#info1 {
    padding-left: 1rem;
    max-width: 100em;


}



#video {

    background-color: lightgray;

}

#video .player {
    padding: 0rem 1rem 1rem 1rem
}

#info2 {
    max-width: 100em;
    background: lightblue;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;





}



#info2 h2 {
    margin-top: 0;

}



.kampagne {
    padding: 1rem 1rem 0rem 1rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    ;


}



#SoMe_kampagne {
    background: darkgreen;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

}



#SoMe_kampagne h1 {
    padding-bottom: 1rem;
    margin: 0;
}




#info3 {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #EAEAEA;


}

#info3 #info3 .right {
    flex-grow: 1;
}

#info3 .text {

    padding: 5px;
    max-width: 60em;
}


/*Gode råd diagrammer*/
.containerkage {
    max-width: 50px;

}

#diagramkage {
    fill: none;
    stroke-width: 100;
    border-radius: 50%;
    border: 1px solid;

}

#stk1 {
    stroke: #00FF00;
    transition: 1s;
    stroke-dasharray: 1 314;

}

#disp {
    font-size: 2em;
    font-family: safety;
}

#stk2 {
    stroke: #28292C;
    transition: 1s;
    stroke-dasharray: 1 314;
}

#stk3 {
    stroke: #3b475a;
    transition: 1s;
    stroke-dasharray: 1 314;
}

#text {
    fill: white;
    font-size: 4px;
    font-family: sans-serif;
}

#stk1:hover {
    opacity: 0.5;
}

#stk2:hover {
    opacity: 0.5;
}

#stk3:hover {
    opacity: 0.5;
}



/*Gode råd diagrammer slut*/




footer {
    width: auto;
    height: 160px;
    background-color: silver;
}


/*  SER PÅ DET SENERE

  @media only screen and (min-width: 600px) {
            .burgermenu {}
            .container {
                position: relative;
                width: 100%;
                margin: 10px;
            }
        #splash .boks {
        width: 40vw;
        height: 4vw;

}
        }
        @media only screen and (min-width: 800px) {
            .logo {
                width: 10%;
                top: -30px;
                position: absolute;
                left: 16.5px;
            }
            .container img {
                width: 100%;
            }
            .burgermenu {
                display: none;
            }
            #menuMobil {
                display: none;
            }
            .mySlides {
                margin: 0 auto;
            }
        }
        @media screen and (max-width:600px) {
            .data-container {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 300px 300px;
            }
            main {
                margin: 0 auto;
            }
            #menu-sidebar {
                display: none;
            }
            nav button {
                min-width: 100px;
                margin: 0 auto;
                font-size: 15px;
                margin-left: 8px;
                margin-right: 8px;
                color: white;
            }
        }
        @media screen and (min-width:760px) {
            menu-sidebar {
                display: block;
            }
        }
        @media screen and (min-width:960px) {
            .data-container {
                grid-template-columns: repeat(2, 1fr);
                grid
            }
            nav button {
                min-width: 150px;
                margin: 0 auto;
                font-size: 33px;
                margin-left: 20px;
                margin-right: 20px;
                color: white;
            }
        } /*
