html {
    margin: 0 auto;
}


body {
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    font-family: safety;
    font-weight: lighter;
    font-size: 18px;
}

p::selection {
    background-color: #3f0;
    color: #373d46;
    text-shadow: none;
}


h1::selection {
    background-color: #3f0;
    color: #373d46;
    text-shadow: none;
}

h1,
h2 {
    font-family: safety;
    font-weight: lighter;
}

@font-face {
    font-family: Safety;
    src: url(safety.oft);
}

@font-face {
    font-family: Safety;
    src: url(safety-light.oft);
    font-weight: lighter;
}

/** BURGERMENU **/
.hidden {
    display: none;
}

#menu .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    margin-right: 15px;
    margin-top: -39px;
}

#menu {
    padding-top: 100px;
    position: relative;
    list-style-type: none;
    width: 100vw;
    background-color: #28292C;
    z-index: 1;
}

#menu li {
    padding: 20px;
    text-align: left;
    color: white;
    font-family: safety;
    cursor: pointer;
}

.topnav a {
    cursor: pointer;
}

.burgermenu {
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
}

.topnav {
    overflow: hidden;
    justify-content: center;
    display: flex;
    position: relative;
    top: -2.4em;
    text-align: center;
    margin-left: 13vw;


}


.topnav a {
    font-family: safety;
    float: left;
    color: lightgray;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;



}



.topnav a:hover {
    color: white;

}




header {
    position: fixed;
    width: 100%;
    background-color: #28292C;
    height: 70px;
    z-index: 1;
}

/*FIND DET HVIDE LOGO*/
header .logo {
    height: 50px;
    width: 235px;
    position: relative;
    top: 0.8em;
    left: 0rem;
}


.navigation_linje {
    background-color: #373D46;
    height: 130px;
    width: 100%;
}

.navigation_linje a {
    position: absolute;
    left: 1em;
    top: 6em;
    color: #FFFFFF;
    line-height: ;
    font-size: 0.92rem;
    font-weight: 350;
    font-family: safety;
    text-decoration: none;


}

#splash {
    display: none;
}


#splash .boks {
    position: relative;
    left 0;
    top: -13em;
    background: rgba(0, 0, 0, 0.7);
    max-width: 45vw;
}

#splash p {
    color: white;
    position: relative;
    padding-left: 45px;
    font-size: 25px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    line-height: 1.2;
}


/** SPLASH TEKST ANIMATION **/

.swipe {
    animation-name: splash_kf;
    animation-duration: 2s;
}

@keyframes splash_kf {
    from {
        left: -100rem;
    }

    to {
        left: 0.5rem;

    }
}


#video {}

#info1 {
    padding-left: 1rem;
    max-width: 100em;
}

#info1 .text {
    display: grid;
    max-width: 40em;
}






.SoMe {
    position: absolute;
    right: 0px;
    padding: 10px;

}

.SoMe img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.SoMe img:hover {
    transform: scale(1.2);
}



#video {
    background-color: lightgray;

}

#video .player {
    padding: 0rem 1rem 1rem 1rem
}

#info2 {
    max-width: 100em;
    background: #414B59;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

#info2 p {
    color: white;
}

#info2 h1 {
    margin-top: 0;
    color: white;

}



.kampagne {
    padding: 0.5rem 1rem 0rem 1rem;
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-top: 0em;


}

.kampagnebrod {
    padding: 0.5rem 1rem 0rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0em;

}



#SoMe_kampagne {
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

}



#SoMe_kampagne h1 {
    padding-bottom: 1rem;
    margin: 0;
}




#info3 {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #EAEAEA;
}

#info3 .text {
    padding: 5px;
    max-width: 60em;
}


/*Gode råd diagrammer*/

/*  KAGE   */
.containerkage {
    max-width: 30em;
    margin-top: 10px;

}

#diagramkage {
    fill: none;
    stroke-width: 100;
    border-radius: 50%;
    border: 1px solid;
    margin-top: 5vw
}

#stk1 {
    stroke: #00FF00;
    transition: 1s;
    stroke-dasharray: 1 314;

}

#disp {
    font-size: 2.5em;
    font-family: safety;



}

#stk2 {
    stroke: #28292C;
    transition: 1s;
    stroke-dasharray: 1 314;
}

#stk3 {
    stroke: #3b475a;
    transition: 1s;
    stroke-dasharray: 1 314;
}

.containerkage #text {
    fill: white;
    font-size: 4px;
    font-family: sans-serif;
}

#stk1:hover {
    opacity: 0.5;
}

#stk2:hover {
    opacity: 0.5;
}

#stk3:hover {
    opacity: 0.5;
}

/* Søjle */
#containersojle {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;

}

#sojletekst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    line-height: 1px;

}



#linier {
    stroke: #999;
    stroke-width .5:
}

#text {
    font-size: .6em;
}

#soj1 {
    stroke: #00FF00;
}

#soj1:hover {
    opacity: 0.5;
}

#soj2 {
    stroke: #28292C;
}

#soj2:hover {
    opacity: 0.5;
}

#soj3 {
    stroke: #305898;
}

#soj3:hover {
    opacity: 0.5;
}

.txt1 {
    color: #00FF00;
    font-size: 3em;
    margin: 0;
    padding-top: 19px;
    grid-column: 1/ span 1;
}

.info {
    grid-column: 2/ span 12;
}

.txt2 {
    color: #28292C;
    font-size: 3em;
    margin-top: 0;
    padding-top: 19px;
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;

}

.info2 {
    grid-column: 2/ span 12;
    grid-row: 2/ span 2;
}

.txt3 {
    color: #305898;
    font-size: 3em;
    margin: 0;
    padding-top: 19px;
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
}

.info3 {
    grid-column: 2/ span 12;
    grid-row: 3/ span 1;
    white-space: nowrap;



}


#bars {
    stroke: pink;
    stroke-width: 20;
}



/*Gode råd diagrammer slut*/

.topKnap {
    position: absolute;
    right: 10px;
    cursor: pointer;

}


/**/

footer {
    width: auto;
    height: 160px;
    background-color: #373D46;
}


/*             TAPLET          */

@media screen and (min-width:760px) {
    #splash {
        display: block;
        width: 100%;
        height: 39vw;

    }

    #splash img {}

    .gridinfo {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-bottom: 15px;
    }

    .gridinfo h1 {
        grid-column: 1/ span 2;
        grid-row: 1/ span 2;
        grid-gap: 0px;
        margin-bottom: 0;
    }

    .gridinfo p {
        margin: 0;

    }

    .player {
        height: 30rem;
        width: 46rem;
    }

    .kampagne {
        padding-top: 15px;
        margin-top: 0;

    }

    .somebilled {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sometekst p {
        margin-top: 0px;
    }


    #info3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .containerkage {
        width: 20em;
        margin: 10px
    }

    #containersojle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/ span 2
    }






}










/*            DESKTOP              */

@media screen and (min-width:960px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    header .logo {
        height: 50px;
        width: 245px;
        left: 3rem;

    }

    .navigation_linje a {
        left: 4rem;



    }

}




@media screen and (max-width:950px) {




    #splash p {
        font-size: 20px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 20px;
        padding-left: 25px;
        font-size: 21px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 20px;

    }

    #splash .boks {
        top: -9.5em;
        top: -11em;


    }

}






@media only screen and (max-width: 960px) {
    .topnav {
        display: none;


    }

}
