html {
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

img {
    width: 100%;
}


header {
    background-color: #28292C;
    height: 40px;
}

header img {
    height: 40px;
    width: 100px;
    top 0;
}

header nav button {
    background-color: #373D46;
    height: 30px;
    width: 30%;
    position: sticky;
}

#splash {
    width: 100%;
    height: 60vh;
    background-color: black;
}

#splash img {
    height: 55vh;
}

#splash p {
    color: white;
}


#video {
    width: 90em;
    height: 50vh;
    background-color: crimson;
}

#info1 {}

#info2 {
    width: auto;
    height: 30vh;
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 6rem;
    padding: 0 4rem 0 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#info2 .img {
    border: dotted;
}

#info2 .text {
    border: dotted;
}

#SoMe_kampagne {
    width: 90em;
    height: 40vh;
    background-color: peachpuff;

}

#SoMe_kampagne .img {
    width: 1000px;
    height: 200px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

#info3 {
    width: auto;
    height: 30vh;
    background-color: limegreen;
    padding: 0 4rem 0 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#info3 .text {}


footer {
    width: auto;
    height: 160px;
    background-color: silver;
}
